@model UserViewModel
@if (User?.Identity?.IsAuthenticated == false)
{
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label>
                <input type="text" asp-for="UserName"></input>
        </div>
        <div>
            <label asp-for="Password"></label>
                <input type="password" asp-for="Password"></input
        </div>
        <div>
            <input type="submit" value="Login"></input>
        </div>
    </form>
}