<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JobFinder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @if (User.FindFirst("role")?.Value == "candidate")
                    {
                        <a class="nav-link" asp-controller="Resumes" asp-action="MyResume">My resume</a>
                    }
                    @if (User.FindFirst("role")?.Value == "employer")
                    {
                        <a class="nav-link" asp-controller="Employers" asp-action="MyInfo">My info</a>
                    }
                </ul>
            </div>
            <div class="d-flex justify-content-end">
                @if (@User?.Identity?.IsAuthenticated == true)
                {
                    <p>@User.FindFirst("role")!.Value | @User.FindFirst("name")!.Value</p>
                    <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Login">Login</a>
                    <a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </nav>
    <div class="container">
         @RenderBody()
    </div>
</body>
</html>
