@using WebApp.ViewModels
@using WebApp.Models

@model JobViewModel
@{
    string action = ViewBag.Action ?? string.Empty;
    ViewBag.Title = action + " Job";
}

<form method="post" asp-controller="jobs" asp-action="@action">
    @if (action?.ToLower() == "edit")
    {
        <input type="hidden" asp-for="Job.JobId" />
    }

    <div class="justify-content-center">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.Title"></label>
            <input class="col-6" type="text" asp-for="Job.Title"></input>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.Description"></label>
            <textarea class="col-6" asp-for="Job.Description"></textarea>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.Salary"></label>
            <input class="col-6" type="number" asp-for="Job.Salary"></input>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.MinExpirience"></label>
            <input class="col-6" type="number" asp-for="Job.MinExpirience"></input>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.IsActive"></label>
            <input class="col-6" type="checkbox" asp-for="Job.IsActive"></input>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.LocationId"></label>
            <select class="col-6" asp-for="Job.LocationId" asp-items="@(new SelectList(Model.Locations, nameof(Location.LocationId), nameof(Location.Name)))"></select>
        </div>
        <div class="row my-1">
            <label class="col-2" asp-for="Job.CategoryId"></label>
            <select class="col-6" asp-for="Job.CategoryId" asp-items="@(new SelectList(Model.Categories, nameof(Category.CategoryId), nameof(Category.Name)))"></select>
        </div>
        <div class="row my-1">
            <div class="d-flex justify-content-center col-8">
                <input class="btn btn-primary" type="submit" value="@action"></input>
            </div>
        </div>
    </div>
</form>